extends _base
block body
    h1 File issues for OONI

    p.

        The Open Observatory of Network Interference (OONI) is a free software project under the Tor Project which aims to detect internet censorship, traffic manipulation and signs of surveillance based on the collection and analysis of network measurements.

    p.
        OONI's code is hosted on github, where we file issues, track changes and constantly improve upon the software. If you are
        i not
        a github user but would still like to contribute to the project, we encourage you to file your issues through this page.


    p Thanks for your contributions!

    p.

        Note: This page includes a session cookie for the purpose of preventing unintentional and unauthenticated issues.  
    div(class="row")
        div(class="col-md-6")
            form(name="submit", action="/submit", method="post")
                div(class="form-group")
                    label() Title
                    input(type="text", name="title", class="form-control")
                input(type="hidden", name="_csrf" value=csrfToken)
                div(class="form-group")
                    label() Repository
                    select()
                      each repo, i in repositories
                          option(value=repo) #{repo}
                div(class="form-group")
                    label() Body
                    textarea(name="message", class="form-control", rows="10")
                input(type="submit", value="submit", class="btn btn-default")
